:root {
  --primary: #176078;
  --accent: #ABD5D5;
  --headline: #141414;
  --text: #262626;
  --background: #F9FAFF;
  --lightbackground: #ffffff;
  --lightgrey: #C7C7C7;
  --darkgrey: #727272;
}

/* define colors for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ABD5D5;
    --accent: #176078;
    --headline: #ffffff;
    --text: #C7C7C7;
    --background: #262626;
    --lightbackground: #141414;
    --lightgrey: #F2F2F2;
    --darkgrey: #F9FAFF;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: Helvetica, Verdana, sans-serif;
  color: var(--text);
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 300;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--primary);
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

/* header{
    font-size: 1.25rem;
    background-color: var(--accent);
    padding: 1.5rem;
} */

main {
  padding: 1.5rem;
  margin: 8px auto;
}

.navtoggle li:not(:first-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.navtoggle.responsive nav {
  padding: 0 0;
}
.navtoggle.responsive li  {
  display: flex;
  padding: 8px 0;
  align-items: flex-end;
  justify-content: flex-end;
}

.navtoggle.responsive li:first-child  {
  padding: 0 0 8px;
}

footer {
  color: var(--text);
  background-color: var(--accent);
  padding: 16px;
}

img {
  width: 100%;
  float: inline-end;
  margin: 8px;
  /* top right bottom left */
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--text);
  text-decoration: underline;
}

a:active {
  color: blueviolet;
}

a:focus {
  outline: 2px solid var(--primary);
}

.primary-button {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  border-color: var(--primary);
  padding: 8px;
  border-radius: 4px;
  min-width: 100px;
  min-height: 44px;
}

.hyperlink {
  color: white;
  background-color: var(--primary);
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  border-color: aqua;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  /* background-color: #ff7f50; 
  color: #ffffff;*/
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s;
  /* transition: 0.2s opacity; 
  transition-property: opacity;
  animation: 4s change-button-color infinite alternate linear;
*/
}

.socials {
  align-items: flex-start;
  display: block;
}

.projectfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectfooter picture {
  flex: 1;
  max-width: 24px;
}


.projectfooter ul {
  display: flex;
  /* Makes the list items appear horizontally */
  flex-direction: row;
  list-style-type: none;
  /* Removes the default bullet points */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline-start: 0;
}

.projectfooter ul li {
  display: flex;
  /* Ensures the chevron and the text are aligned horizontally */
  align-items: center;
  /* Vertically aligns the chevron and text */
  margin: 0;
  /* Adds horizontal spacing between list items */
}

.projectfooter img {
  margin: 0;
  width: auto;
}

button:hover,
button:active {
  background-color: #052029;
  font-weight: bold;
  padding: 6px;
}

button:focus {
  outline: 2px solid var(--primary);
  margin: 2px;

}

.button.contact {
  background-color: transparent;
  color: var(--primary);
  /* text-transform: uppercase; */
  border: 2px solid var(--primary);
  margin-bottom: 8px;
  margin-top: -4px;
}

.button.contact:hover {
  background-color: var(--primary);
  color: var(--lightbackground);
  margin-bottom: 8px;
  margin-top: 8px;
}

/* Layout styling */
.container {
  padding: 0 16px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.formcontainer {
  padding: 0 16px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.form {
  width: 100%;
}

.row {
  margin-top: 16px 0;
  margin-bottom: 24px;
  /* 24px top and bottom, 0 left and right */
}

.space{
  margin-bottom: 40px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 16px;
  border-bottom: 1px solid #4a4a4a;
  display: block;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#about-picture,
#building {
  max-width: 50%;
}


.logo {
  max-width: 150px;
  text-align: left;
  align-items: flex-start;
}

input[type=email],input[type=text], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--darkgrey);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--lightbackground);
  max-width: 900px;
  resize: none;
  overflow-wrap: break-word;
  word-break: break-word;
  display: block;
  transition: width 0.4s ease-in-out;
}

textarea, select {
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid var(--darkgrey);
  border-radius: 4px;
  background-color: var(--lightbackground);
  max-width: 900px;
  resize: none;
  overflow-wrap: break-word;
  word-break: break-word;
  display: block;
  transition: width 0.4s ease-in-out;
}



a img {
  max-height: 48px;
  margin: 16px 0 16px 16px;
  align-items: flex-start;
}

.col-md-2 {
  /* col is what tells us this is for columns, the md stands for medium devices,  6 is for the 6-column span we want this column to occupy */
  width: 100%;
  float: left;
}

header {
  background-color: var(--accent);
  text-align: unset;
  padding: 8px 0;
  position: relative;
  justify-content: left;
}

div {
  margin: 0 auto;
  width: 100%;
  display: grid;
}

#navigation {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary);
}

#hero {
  background-color: (var(--background));
  padding: 20px 0;
  display: block;
  width: 100%;
}

.hero-tagline {
  text-transform: uppercase;
  color: #00bcd4;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-description {
  
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.projectButton {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: var(--accent);
  padding: 8px;
  min-height: 44px;
  border-radius: 4px;
  width: auto;
  white-space: nowrap;
   text-decoration: none;
  text-align: center;
  margin: 0;
  justify-self: start;
}

.projectLogos {
  max-width: 300px;
  justify-content: center;
}


/* @media media-type and (media-feature: media-value) */
@media media-type and (media-feature: media-value) {}

@media screen and (min-width: 300px) {
  .col-md-2-projects picture {
  flex-shrink: 0;
  width: auto;
  max-width: 400px;
}

}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    background-color: var(--accent);
    text-align: start;
    padding: 20px 0 20px;
    flex-direction: column;
  }

  body {
    font-size: 1.7rem;
  }

  footer {
    padding: auto;
  }

  nav {
    width: auto;
    float: right;
    /* ToDo: resolve: removes header/ nav width ? */
    margin-top: 4px;
  }

  .navtoggle {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }


  .navtoggle li:not(:first-child) {
  display: inline-block;
}
.navtoggle li:first-child {
  display: none;
}


  nav ul li {
    display: inline-block;
  }

  .col-md-2 {
    /* col is what tells us this is for columns, the md stands for medium devices,  6 is for the 6-column span we want this column to occupy */
    display: inline-block;
    align-content: flex-start;
  }

  .col-md-2-projects{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
  }

  .col-md-2-projects picture {
  flex-shrink: 0;
  width: auto;
  max-width: 40%;
}

  .logo {
    min-width: 240px;
  }
}

/*  @media screen and (min-width: 768px) {} */

@media screen and (min-width: 1024px) {
  header {
    text-align: start;
    padding: 24px 0 24px;
    flex-direction: column;
  }

  footer {
    padding: auto;
  }

  body {
    font-size: 1.8rem;
  }

  .col-md-2 {
    /* col is what tells us this is for columns, the md stands for medium devices,  6 is for the 6-column span we want this column to occupy */
    display: inline-block;
    align-content: flex-start;
  }

  .logo {
    min-width: 320px;
  }

  #building {
    max-width: 100%;
  }
}

/* @media screen and (min-width: 1440px) {}

@media only screen and (min-resolution: 300dpi) {}

@media only screen and (min-width: 768px) and (orientation: portrait) {} */



/* ==============================
----------- ANIMATION ----------- 
================================= */

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

/* @keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
} */

/* .sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

/*.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes change-button-color {
  from {
    background-color: var(--accent);
  }

  to {
    background-color: var(--primary);
  }

  from {
    color: var(--primary);
  }

  to {
    color: var(--accent);
  }
}

@keyframes move-sun {
  from {
    transform: translate(-32px, 80px);
  }

  to {
    transform: translate(20px, 30px);
  }
}

@keyframes scale-sun {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

.illu-sun {
  animation: 10s move-sun infinite alternate linear;
  animation: 15s scale-sun infinite alternate linear;
}